:root{
    --light-grey: #EAEAEA;
    --main-background: black;
    --dark-grey: #313131;
    --red: #FF9999;
    --light-red: #fac8c8;
    --light-green: #A9FF86;
    --shadow-main: 0px 5px 5px black;
    --light-blue: #65F2FC;
}

@font-face {
    src: url("../fonts/Potra.ttf");
    font-family: Potra;
}
.bio{
    text-align: justify;
    margin-top: 1rem;
    width: 65%;
}
h1{
    text-transform: uppercase;
    font-family: Potra;
    border-bottom: 2px solid var(--light-grey);
}
small{
    font-size: 15px;
    position: absolute;
    right: 15%;
}
