:root{
    --green-glow: 0px 0px 5px var(--light-green);
}
@font-face {
    src: url("../fonts/Potra.ttf");
    font-family: Potra;
}
#twitter-timeline{
    position: absolute;
    top: 8rem;
    right: 1rem;
}
.main-content{

    padding-bottom: 6rem;
}
.news-container h2{
    font-size: 25px;
    font-family: Potra;
}
button{
    transition: 0.2s;
    padding: 10px;
    width: 150%;
    text-transform: uppercase;
    background: none;
    border: 2px solid var(--light-grey);
    color: var(--light-grey);
    font-weight: bold;
    font-size: 15px;
}
button:hover{
    border-radius: 20px;
    border-color: var(--light-green);
    box-shadow: var(--green-glow);
    color: var(--light-green);
}
.youtube-video{
    margin-bottom: 2rem;
}
