:root{
    --transition: 0.15s ease-in-out;
}
.main-content{
    margin-top: 10rem;
    /* padding: 10px; */
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 10px;
}
.gallery-thumbnail img{
    width: 100%;
    border: 2px solid var(--dark-grey);
    background-color: rgba(66, 66, 66, 0.43);
    transition: var(--transition);
}
.gallery-thumbnail{
    text-decoration: none;
    height: min-content;
}
.gallery-thumbnail img:hover{
    box-shadow: 0 0 10px var(--light-green);
    background-color: var(--main-background);
    transition: var(--transition);
}
