<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/master.css">
        <link rel="stylesheet" href="/css/music.css">
        {{ partial "favicon" .}}
        <title>Music</title>
    </head>
    <body>
        {{ partial "header" . }}
        {{ partial "background" .}}
        <div class="main-content">
            <h1>{{.Title}}</h1>
            {{ range .Pages.ByPublishDate.Reverse }}
            <a href="{{.Permalink}}">
                <div class="music-release">
                    <img class="music-thumbnail" src="{{.Params.thumbnail}}">
                    <h2>{{.Title}}</h2>
                </div>
            </a>
            {{end}}
        </div>

        {{ partial "footer" . }}
    </body>
</html>
