<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>{{.Title}}</title>
        {{ partial "favicon" .}}
        <link rel="stylesheet" href="/css/master.css">
        <link rel="stylesheet" href="/css/news.css">
    </head>

    <body>
        {{ partial "header" . }}
        <img id="background"src="/img/background.jpg" alt="">

        <div class="main-content" >
            <h1 id="main-header">{{.Title}}</h1>
            {{ range where .Pages.ByPublishDate.Reverse ".Params.pinned" true }}
                <div class="news-container">
                    <a href="{{.Permalink}}">
                        <h2>{{.Title}}</h2>
                    </a>
                    <div class="metadata">
                        <small>{{ dateFormat "January 2, 2006" .Date}}</small>
                        <svg class="pin" width="1.5rem" height="1.5rem" viewBox="0 0 500 500" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                            <g transform="matrix(14.5821,-14.5821,14.5821,14.5821,-101.428,199.91)">
                                <path d="M20.132,11.04L13.061,3.969L7.151,9.878L7.151,9.88L5.736,8.465L4.322,9.88L8.895,
                                14.452L3.238,20.108L3.992,20.862L9.649,
                                15.206L14.222,19.778L15.636,18.364L14.222,16.95L20.131,11.04L20.132,11.04Z"/>
                            </g>
                        </svg>
                    </div>
                </div>
            {{ end }}
            {{ range where .Pages.ByPublishDate.Reverse ".Params.pinned" "!=" true }}
                <div class="news-container">
                    <a href="{{.Permalink}}">
                        <h2>{{.Title}}</h2>
                    </a>
                    <div class="metadata">
                        <small>{{ dateFormat "January 2, 2006" .Date}}</small>
                    </div>
                </div>
            {{ end }}
        </div>
        {{ partial "footer" . }}
    </body>
</html>
