<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>{{.Title}}</title>
        {{ partial "favicon" .}}
        <link rel="stylesheet" href="/css/master.css">
        <link rel="stylesheet" href="/css/single.css">
    </head>
    <body>
        {{ partial "header" . }}
        {{ partial "background" . }}
        <div class="main-content">
            <article class="{{ .Params.class }}">
                {{.Content}}
            </article>
        </div>
        {{ partial "footer" . }}
    </body>
</html>
