<footer>
    <div class="bottom-bar">
        <a title="Twitter" target="_blank" class="footer-item" href="https://twitter.com/EddieBreegMusic">
            <img id="twitter" src="/img/twitter.svg"/>
        </a>
        <a title="Instagram" target="_blank" class="footer-item" href="https://www.instagram.com/eddiebreeg_music/">
            <img src="/img/insta.svg" id="instagram">
        </a>

        <a title="Spotify" target="_blank" class="footer-item" href="spotify:artist:7EA7usxltS42JMS4zVmYu5">
            <img id="spotify" src="/img/Spotify_Icon_RGB_Green.png">
        </a>

        <iframe class="footer-item" id="soundcloud" allowtransparency="true" scrolling="no" frameborder="no"
        src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2Fuser-197887775&color=white_transparent&size=40">
        </iframe>

        <a class="footer-item" title="Youtube" target="_blank" href="https://www.youtube.com/channel/UCk72ttzlwihFq4Zf7JA2-0w">
            <img id="youtube" src="/img/yt_icon_mono_dark.png">
        </a>
    </div>
</footer>
