<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Page not found</title>
        <link rel="stylesheet" href="/css/master.css">
        <link rel="stylesheet" href="/css/404.css">
    </head>
    <body>
        {{ partial "header" . }}
        {{ partial "background" .}}
        <div class="main-content">
            <h1>Page not found...<img id="frowning" src="/img/frowning.svg"></h1>
            <a href="/">
                <button type="button" name="button">Go back home</button>
            </a>
        </div>
        {{ partial "footer" . }}
    </body>
</html>
