<html>
    <head>
        <meta charset="utf-8">
        <title>Eddie Breeg</title>
        {{ partial "favicon" .}}
        <link rel="stylesheet" href="/css/master.css">
        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="/css/news.css">
    </head>

    <body>
        {{ partial "header" . }}
        {{ partial "background" .}}

        <div id="twitter-timeline">
            <a height="500" class="twitter-timeline" data-width="250px" data-theme="dark" href="https://twitter.com/EddieBreegMusic?ref_src=twsrc%5Etfw">Tweets by EddieBreegMusic</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>

        <div class="main-content">
            <h1>latest news</h1>
            {{ $allNews := where .Site.Pages.ByPublishDate.Reverse "Params.class" "news" }}
            {{ range first 1 $allNews}}
                <div class="news-container" style="width: 30%">
                    <a href="{{.Permalink}}"><h2>{{.Title}}</h2></a>
                    <small class="metadata" class="date">{{ dateFormat "Jan 2, 2006" .Date }}</small>
                </div>
            {{ end }}
            <a href="/news">
                <button type="button" name="see more">see more</button>
            </a>

            <h1>latest video</h1>
            {{range where .Site.Pages ".Params.class" "latest-video"}}
            {{.Content}}
            {{end}}
            <a href="https://www.youtube.com/channel/UCk72ttzlwihFq4Zf7JA2-0w">
                <button type="button" name="see more">all the videos</button>
            </a>
        </div>
        {{ partial "footer" . }}
    </body>
</html>
